/* Master Styles */
body{
    background-color:darkgray;
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hidden-details{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgray;
    background-blend-mode: screen;
    color: black;
    position: relative;
}

#background-image{
    min-height: calc(100vh - 70px);
    /*background-image: url(/images/bg2.jpg);*/
}

#construction{
    max-height: 80vh;
    object-position: center;
}

#project-and-details{
    min-height: calc(100vh -70px);
}

/*.container{
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100%;
}*/

/* Nav Styles*/
.nav-wrapper{
    max-height: 35%;
    display: flex;
    background-color: darkslategray;
    justify-content: space-between;
    padding-top: 28px;
    padding-right: 28px;
    padding-left: 28px;
    position: relative;
}

.nav-left-wrapper{
    display: flex;
}

.nav-wrapper > .nav-left-wrapper > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid whitesmoke;
}

.nav-link-wrapper a:hover{
    color: whitesmoke;
}

.developer-link{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.developer-link:hover{
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

#linkedin-text{
    color: whitesmoke;
}

.brand{
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
    color: #b86d29;
}

/* Content Styles */
/*#content-items-wrapper{
    overflow: auto;
    padding-bottom: 50px;
    /*display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#content-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}*/

.content-item-wrapper{
    padding-right: 2%;
    /*padding-left: 3%;*/ 
    padding-bottom: 3%; 
    text-decoration: none;
}

.content-item-wrapper a{
    /*padding-right: 2%;
    padding-left: 3%; 
    padding-bottom: 3%; */
    text-decoration: none;
}

.content-item-wrapper a:hover .subtitle{
    /*padding-right: 2%;
    padding-left: 3%; 
    padding-bottom: 3%; */
    color: lightseagreen;
}

.content-item-wrapper a:hover .portfolio-img-background{
    transition: 1s;
    filter: brightness(20%);
}

.portfolio-img-background{
    
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}


.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
    text-decoration: none;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;   
}


/* Project details Styles */
.project-details{
    display: none;
}

.hide{
    display: none;
}

.custom-section {
    margin-top: 16px;
    margin-bottom: 16px;
}

.custom-section::after, .custom-section::before{
    content: "";
    display: table;
    clear: both;
}

/* Contact Me Styles */
.contact-wrapper {
    background-color: whitesmoke;
    text-transform: uppercase;
}

.contact-link-wrapper{
    height: 3%;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.contact-link-wrapper a{
    columns: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.contact-link-wrapper:hover {
    border-bottom: 1px solid black; 
}

.contact-link-wrapper a:hover {
    color: red;
}

article{
    max-height: 6em;
}

/* Resume Styles */

#resume-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
}

#resume-pic:hover{
    opacity: 0.7;
}

/* Footer Styles */
.footer-wrapper {
    text-align: center;
    font-size: small;
    color: whitesmoke;
    background-color: darkslategray;
}

.footer {
    position: relative;
    background-color: darkslategray;
    height: 70px;
    /*margin-top: -50px;*/
    clear: both;
}
